<%= render partial: 'shared/nav' %>

<div class="container w-content">
  <div class="row edit-signup">
  <h2>Update your profile</h2><br>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
      
  </div>

  <div class="field">
      <%= f.label :avatar, "Upload your profile image" %>
       <div class="fileUpload-avatar">
            <span class="upload-avatar"> <i class="small material-icons">add_a_photo</i></span>
            <%= f.file_field :avatar ,direct_upload: true, accept:'application/jpeg,application/jpg,application/png,application/gif',class:"upload"%>
        </div>
  </div>

  <div class="field">
    <%= f.label :usename %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :field_of_interest, "Select your interest" %><br />
    <%= f.collection_select(:interest_id, Interest.all, :id, :field_of_interest, :prompt => 'Select') %>
  </div>

   <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :about %><br />
    <%= f.text_area :about, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Leave this field blank if you don't want to change your password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirme new password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Put your current password to update" %>
  </div>

  <div class="actions">
    <%= f.submit "Update",class:"btn" %>
  </div>
  <% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn #f44336 red" %></p>

<%= link_to "Back", :back,class:"btn" %>
</div>
</div>