<%= render partial: 'shared/nav' %>


<div class="container w-content">
<%= form_for users_path, :method => 'get' do%>
  <%= text_field_tag :search, params[:search], placeholder:"Enter a name" %>
  <%= submit_tag "Search",class:"btn" %>
<%end%>
<div class="center-align">
<% @users.each do |user| %>
      <div class="collection">
            <%= link_to user_path(user), class:"collection-item", :action => 'go' do%>
              <div class="row valign-wrapper">
                <div class="col s12 m12 l6"><%= image_tag user_avatar(user, 75), class:"circle responsive-img", :title => "Visit #{user.username.capitalize} profile",alt: "user image" %></div>
                <div class="col s12 m12 l6"><%= user.username.capitalize %></div>
              </div>
            <%end%>
      </div>
    <%end%>
</div>
</div>
