<%= render partial: "shared/nav" %>
<div class="container w-container-user">
    <div class="row">
        <div class="col s12 m12 l4">
            <div class="pic">
                <div class="img">
                    <%= image_tag(@user.avatar.variant(resize: "300x300!"),:class => "responsive-img circle", alt: "user image") if @user.avatar.attached?%>
                </div>
                <div class="follow">
                   
                </div>
            </div>
        </div>
        <div class="col s12 m12 l4">
             <div class="username">
                <h5>Username</h5>
                <%= @user.username.capitalize %>
            </div>
            <div class="bio">
                <h5>About</h5>
                <%= @user.about.capitalize %>
            </div>
            <div class="bio">
                <h5>Bio</h5>
                <%= @user.bio.capitalize %>
            </div>
            <div class="interest">
                <h5>Interests</h5>
                <%= @user.interest.field_of_interest %>
            </div>
        </div>
        <div class="col s12 m12 l4 follow">
             <% if current_user && current_user.following?(@user) %>
                        <%= render 'unfollow' %>
                        <% else %>
                        <%= render 'follow' %>
                    <% end %>
                    <%= render 'shared/relation' %>
        </div>
    </div>
</div>