<%= render partial: "shared/nav" %>

<div class="container w-content">
    <% if @posts.empty? %>
       <div class="not-found center-align">
            Empty!
        </div>
    <% else %>
      <div class="row">
      <% @posts.each do |post| %>
          
            <div class="col s12 m12 l4">
                <div class="post">
                    <%= link_to post_path(post), :action => 'go' do %>
                        <%= image_tag(post.image.variant(resize: "400x400").processed, :class => "user-img", alt: "user image") if post.image.attached?%><br>
                        <p><%= simple_format(post.content.truncate(100)) %></p><br>
                    <%end%>
                    <div class="row post-widgets">
                       Posted: <strong><%= post.created_at %><br></strong> 
                        By: <strong><%= link_to post.user.username, post_user_path(post.user, post.user) %></strong> 
                    </div>
                </div>
            </div>
          
      <% end %>
      </div>
    <% end %>
</div>

     
 



