
 
 <% if user_signed_in? %>
     <%= current_user.username.capitalize %>
     
     <%= debug image_tag(current_user.avatar,:class => "responsive-img", alt: "user image") if current_user.avatar.attached?%>

    <%= link_to "Logout", destroy_user_session_path, method: :delete%>
    <%=  link_to "Edit profile", edit_user_registration_path(current_user)%>
    <%= link_to "My posts", users_posts_path(current_user) %>
<%else%>
    <%= link_to  "Login", new_user_session_path %>
<%end%>

<div class="container center-align">
    <div class="row">
        <div class="col l1 hide-on-med-and-down">
        </div>
        <div class="col s12 m12 l8 post-container">
        <div class="center-align">
            <%= link_to "Post", new_post_path, class:"btn-floating btn-large waves-effect waves-light #009688 teal"%>
        </div>
            <% @posts.each do |post| %>
                <div class="post">
                <%= link_to post_path(post), :action => 'go' do %>
                <%= image_tag(post.image, :class => "user-img responsive-img", alt: "user image") if post.image.attached?%>
                    <%= post.content %><br>
                <%end%>

                    <div class="row post-widgets">
                        <div class="col s6 l6 m6">
                            Posted by: <%= post.user.username.capitalize %><br>
                            <%= link_to like_post_path(post), method: :put do%>
                                <span class="medium material-icons">thumb_up</span>
                                <%= post.get_upvotes.size %>
                        <% end %>
                        </div>
                        <div class="col s6 l6 m6">
                        <%= post.created_at %>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>
        <div class="col hide-on-med-and-down l1"></div>
    </div>
</div>

