<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
<% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete%>
<%else%>
    <%= link_to  "Login", new_user_session_path %>
<%end%>

<%= current_user.username.capitalize %><
<%=  link_to "Edit profile", edit_user_registration_path(@current_user)%>
<div class="container center-align">
    <div class="row">
        <div class="col l1 hide-on-med-and-down">
        </div>
        <div class="col s12 m12 l8 post-container">
        <div class="center-align">
            <%= link_to "Post", new_post_path, class:"btn-floating btn-large waves-effect waves-light #009688 teal"%>
        </div>
            <% @posts.each do |post| %>
                <div class="post">
          <%= image_tag(post.image, :class => "user-img responsive-img", alt: "user image") if post.image.attached?%>
                    <%= post.content %><br>
                    <div class="row post-widgets">
                        <div class="col s6 l6 m6">
                            <%= post.user.username.capitalize %>
                            <%= link_to like_post_path(post), method: :put do%>
                                <span class="medium material-icons">thumb_up</span>
                                <%= post.get_upvotes.size %>
                        <% end %>
                        </div>
                        <div class="col s6 l6 m6">
                        <%= post.created_at %>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>
        <div class="col hide-on-med-and-down l1"></div>
    </div>
</div>
