<div class="container">
   <div class="row">
      <%= link_to  "Back to posts", posts_path %><br>
      <%= form_for @post do |f| %>
         <%= f.text_area :content, placeholder: "Post here" %>
         <%= f.label :image, "Upload an image"%>
         <%= f.file_field :image,direct_upload: true, accept:'application/jpeg,application/jpg,application/png,application/gif'%>
         <%= f.submit "Post",class:"btn" %>
      <% end %>
   </div>
</div>
